<div class="container">
  <br>
  <h1>Добавить новый товар:</h1>
  <button class="btn btn-success" (click)="showAdd()">Добавить новый товар</button>
  <div><br></div>

  <div class="form-group" *ngIf="isAdd">
    <input type="text" placeholder="Введите название" class="form-control" [(ngModel)]="title"><br>
    <input type="text" placeholder="Введите описание" class="form-control" [(ngModel)]="description"><br>
    <input type="nubmer" placeholder="Введите стоимость" class="form-control" [(ngModel)]="price"><br>
    <input type="text" placeholder="Введите ссылку на фото" class="form-control" [(ngModel)]="photo"><br>
    <button class="btn btn-outline-success"  (click)="addProduct()">Добавить</button>
  </div>
  <br>

  <h1>Список товаров:</h1>
  <mat-card class="example-card" *ngFor="let product of products">
    <mat-card-header>
      <mat-card-title>{{product.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{product.photo}}" alt="{{product.photo}}">
    <mat-card-content>
      <p>
        {{product.description}}
      </p>
      <mat-card-title>{{product.price}} ₽</mat-card-title>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button (click)="deleteProduct(product)">Удалить</button>
    </mat-card-actions>
  </mat-card>
</div>
